<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="icon" href="/static/img/favicon.ico" type="image/icon"> 
        <link rel="stylesheet" href="/static/thirdParty/bootstrap4/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="/static/css/santa.css"/>
        <title>{{ app_name }}</title>
    </head>
    <body class="bg-danger">
        <div class="container h-100">
            <div class="row h-100 justify-content-center align-items-center text-center" style="margin-top:20%;">
                <div class="col-12">
                        <div class="window">
                        <div class="santa">
                            <div class="head">
                                <div class="face">
                                    <div class="redhat">
                                        <div class="whitepart"></div>
                                        <div class="redpart"></div>
                                        <div class="hatball"></div>
                                    </div>
                                    <div class="eyes"></div>
                                    <div class="beard">
                                        <div class="nouse"></div>
                                        <div class="mouth"></div>
                                    </div>
                                </div>
                                <div class="ears"></div>
                            </div>
                            <div class="body">
                                
                            </div>
                        </div>
                    </div>
                    <h1 class="text-white">{{ message }}</h1>
                </div>   
            </div>
        </div>
      </body>
</html>